a {
    text-decoration: none;
}

body {
    background-color: rgb(88, 128, 168);;
}

h1 {
    color: aliceblue;
    font-size: 36px;
    font-weight: bold;
}

/* set wrapper's styles
 * wrapper is center aligned
*/
#wrapper {
    width: 718px;
    margin: 40px auto;
}
